#ProgressModal .ui-overlay-modal-body{
  padding: 0 20px 20px 20px 20px;
}

.timer-slot{
  font-size: 14px;
  margin-bottom: 15px;
  font-weight: 600;
  color: #8e8e8e;
}

.proggers-slot{
  width: 100%;
  margin-bottom: 7px;
}

/* progress bar */
.proggress-bar{
  width: 100%;
  height: 6px;
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid rgba(var(--b6a,219,219,219),1);
}

.proggress-bar-indicator{
  height: 100%;
  width: 0%;
  transition: width 2s;
  background: linear-gradient(90deg, #266fff, #0078ff, #008bff, #00a0ff, #00b2f3, #00c0e1, #00c9d5, #32ccd1);
}

.scanning-info{
  display: flex;
  flex-direction: row;
}

.magnifier-icon{
  margin-right: 5px;
  animation: myOrbit 2s linear infinite;
}

@keyframes myOrbit {
  from { transform: rotate(0deg) translateX(2px) rotate(0deg); }
  to   { transform: rotate(360deg) translateX(2px) rotate(-360deg); }
}